<!-- /snippets/comment.liquid -->
<div class="grid">
  <div class="grid__item large--one-fifth">
  	<div class="svg">
  		<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="44px" height="44px" viewBox="0 0 24 24" enable-background="new 0 0 44 44" xml:space="preserve">
<g>
	<path d="M12,2c5.514,0,10,4.486,10,10s-4.486,10-10,10S2,17.514,2,12S6.486,2,12,2 M12,0C5.373,0,0,5.373,0,12s5.373,12,12,12
		s12-5.373,12-12S18.627,0,12,0L12,0z"/>
	<g>
		<path d="M9.127,9.633c0.516,1.507,1.486,2.653,2.867,2.653c1.33,0,2.316-1.129,2.848-2.635c1.074-1.083,0.82-1.894,0.572-2.28
			C15.998,4.576,14.215,3,11.893,3C7.73,3,8.457,7.561,8.457,7.561c0.004,0,0.01,0,0.014,0.001C8.281,7.991,8.225,8.712,9.127,9.633
			z M10.865,6.248l-0.305,1.131c1.486-0.453,1.686-0.701,1.92-0.872c0.242-0.177,0.447-0.355,0.615-0.519
			c0.076,0.138,0.174,0.264,0.283,0.378c0.111,0.116,0.273-1.048,0.273-1.048s0.41,0.707,0.467,0.936
			c0.041,0.161,0.301,0.817,0.439,0.877c-0.053,2.163-1.021,4.425-2.564,4.425c-1.436,0-2.377-1.961-2.541-3.978
			C9.848,7.555,10.865,6.248,10.865,6.248z"/>
		<path d="M13.449,18.082v0.437c0.072,0.004,0.201,0.012,0.375,0.012c0.512,0,1.4-0.062,2.268-0.409v-0.455
			C14.945,18.256,13.473,18.084,13.449,18.082z"/>
		<path d="M19.463,15.748c-0.863-2.271-2.836-3.209-2.861-3.222l-2.184-0.799l-0.963,2.338l-0.984-1.198h-0.955l-0.984,1.198
			l-0.963-2.338l-2.145,0.788l-0.025,0.011c-0.027,0.013-1.998,0.95-2.861,3.222c-0.176,0.462-0.307,0.98-0.363,1.558
			c0.219,0.266,0.453,0.52,0.697,0.763c0.262,0.259,0.539,0.503,0.828,0.732c1.729,1.374,3.914,2.197,6.293,2.199
			c0.006,0,0.01,0,0.016,0c0.17,0,0.338-0.005,0.506-0.014c0.004,0,0.008,0,0.012,0c2.178-0.111,4.172-0.912,5.775-2.187
			c0.289-0.229,0.564-0.473,0.826-0.731c0.246-0.243,0.479-0.497,0.699-0.763C19.768,16.729,19.639,16.211,19.463,15.748z
			 M17.396,17.963c0.023-0.756,0.031-1.72-0.029-2.576l-0.729,0.051c0.074,1.048,0.043,2.268,0.01,3.04
			c-1.17,0.716-2.52,1.167-3.965,1.277l-0.275-4.799h-0.83l-0.273,4.799c-1.439-0.111-2.783-0.563-3.951-1.276
			c-0.035-0.757-0.07-1.957-0.002-3.019l-0.729-0.048c-0.055,0.863-0.045,1.81-0.02,2.553c-0.572-0.436-1.09-0.938-1.541-1.496
			c0.607-2.249,2.441-3.185,2.629-3.274l1.471-0.54l1.158,2.815l0.982-1.194l0.25,0.354h0.883l0.248-0.353l0.982,1.193l1.16-2.816
			l1.482,0.542c0.191,0.092,2.023,1.028,2.627,3.273C18.484,17.026,17.969,17.529,17.396,17.963z"/>
	</g>
</g>
</svg>

  	</div>
    <span class="h5 comment-author">{{ comment.author }}</span>
  </div>
  <div class="grid__item large--four-fifths">
    <div class="rte rte--nomargin">
      <time datetime="{{ comment.created_at | date: '%Y-%m-%d' }}" class="comment-date"><i class="fa fa-calendar"></i>{{ comment.created_at | date: format: 'month_day_year' }}</time>
      {{ comment.content }}
    </div>
  </div>
</div>
